@font-face {
    font-family: 'Self-Modern-Regular';
    src:    url('../fonts/bretagne_self-modern_regular_web.woff2') format('woff2'),
            url('../fonts/bretagne_self-modern_regular_web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"PitchWeb-Medium";
    src:	url("../fonts/PitchWeb-Medium.woff2") format("woff2"),
    		url("../fonts/PitchWeb-Medium.woff") format("woff") ;
    font-weight: 400;
    font-style:normal;
}

*,
*:after, 
*:before {
	margin: 0;
	box-sizing: border-box;
}

nav:after {
	content: '';
	width: 0;
	height: 100vh;
	position: absolute;
	border: 1px solid black;
	top: 0;
	left: 50%;
}

*::selection {
  background: #000;
  color: #fff;
}



/*   TYPOGRAPHY   */

.alpha {
	font-family: 'Self-Modern-Regular', 'Times New Roman', times, serif;
	font-size: 3.35vw;
	line-height: 1.2;
	font-weight: normal;
}

.beta {
	font-family: 'Self-Modern-Regular', 'Times New Roman', times, serif;
	font-size: 2.8vw;
	line-height: 1.25;
	font-weight: normal;
}

.gamma {
	font-family: 'Self-Modern-Regular', 'Times New Roman', times, serif;
	font-size: 2.1vw;
	line-height: 1.35;
	font-weight: normal;
}

.delta {
	font-family: 'PitchWeb-Medium', "Courier New", Courier, monospace;
	font-size: 1.6vw;
	line-height: 1.3;
	font-weight: normal;
}

.zeta {
	font-family: 'PitchWeb-Medium', "Courier New", Courier, monospace;
	font-size: 1.2vw;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: inherit;
}

#underline {
	border-bottom: 2px solid #000;
	transition: border-bottom 0.2s ease;
}

#underline:hover {
	border-bottom: 2px solid transparent;
}


/*   NAV   */

nav {
	position: fixed;
	width: 100%;
	display: flex;
	align-content: space-between;
	border-bottom: 2px solid #000;
	text-transform: uppercase;
	background-color: #fff;
	z-index: 999;
	transition: all 0.2s ease;
	align-items: center;
}

nav:hover {
	background-color: #C6C6C6;
}

.global-info div,
.page-info div {
	display: inline-block;
	padding: 1.8%;
}

.logo {
	border-right: 2px solid #000;
	padding: 1.8% 2.5% 1.8% !important;
}

.global-info {
	width: 50%;
}

.page-info {
	width: 46%;
}

.menu {
	width: 4%;
	padding-right: 1.8%;
	vertical-align: middle;
}

.hamburger .line{
	width: 100%;
	max-width: 50px;
	min-width: 30px;
	height: 2px;
	background-color: #000;
	display: block;
	margin: 4px auto;
	transition: all 0.1s ease-in-out;
}

.hamburger:hover{
	cursor: pointer;
}

.hamburger.is-active .line:nth-child(1){
	transform: translateY(6px);
}

.hamburger.is-active .line:nth-child(3){
	transform: translateY(-6px);
}

/*   LISTING   */

.listing {
	padding-top: 3.7%;
}

.project-block {
	border-bottom: 2px solid #000;
	display: flex;
	transition: all 0.2s ease;
}

.project-block:last-of-type {
	border-bottom: 0px solid #000;
}

.project-block:active: {
	background-color: #d0d0d0;
	transform: scale(0.999);
}

#project-title {
	width: 50%;
	padding: 0.7% 1.1% 1.2% 1.1%;
}

#metadata {
	width: 50%;
	padding: 0.7% 1.1% 1.2% 1.1%;
	text-transform: uppercase;
}

#project-author {
	width: 75%;
	display: inline-block;
}

#project-category {
	width: 24%;
	display: inline-block;
}

#project-title span {
	transition: margin 0.2s ease;
}

#project-category span a:hover {
	border-bottom: 1px solid #000;
}

.project-image {
	display: none;
	justify-content: center;
	align-items: center;
	width: 50%;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	padding-top: 3.2%;
}

.project-image img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.project-image#cover img {
	object-fit: contain;
	max-height: 100%;
	max-width: 100%;
}

.project-image#overlay-text img {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
}

.contain img {
	object-fit: contain;
	padding: 8% 4% 4%;
	top: 0;
	right: 0;
}

#project-title:hover > span {
	margin-left: 3%;
}

#project-title:hover ~ .project-image {
	display: flex;
}

.about {
	border-top: 2px solid #000;
	background-color: #C6C6C6;
	padding: 2% 0 0;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
}

.about-item {
	width: 50%;
	padding: 1.5% 1.5%;
}

.copyright {
	width: 100%;
	display: flex;
	margin: 9% 1.5% 1.5%;
	align-items: center;
}

.copyright .label {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

.mark {
	padding-left: 1.5%;
	width: 50%;
}

.mark img{
	width: 18%;
}


/*   PAGE   */


.main-text {
	padding-top: 3.2%;
	padding-bottom: 5%;
}

.text {
	width: 50%;
	padding: 1.5%;
}

.right-image {
	display: inline-block;
}

.image-1-up {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding-top: 3.2%;
}

.image-full-width {
	padding: 10% 0;
}

.image-full-width img {
	width: 100%;
}

.crop img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.fit img {
	object-fit: contain;
	max-height: 100%;
	max-width: 100%;
}

.project-image#overlay-text img {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
}

#intro {
	margin-bottom: 5%;
}

#just-for-testing-purposes-block {
	display: inline-block;
}

.question {
	margin:0 0 4% 7%;
}

.answer {
	margin-bottom: 2%;
}

.basic {
	padding-top: 0;
	padding-bottom: 0;
	text-indent: 1.65em;
}

.no-indent {
	text-indent: 0;
}

.label {
	text-transform: uppercase;
}

.colophon {
	padding: 5% 0 15%;
	display: flex;
	flex-wrap: wrap;
}

.colophon-item {
	width: 50%;
	padding: 1.5% 1.5%;
}

#previous-next {
	width: 100%;
	display: flex;
	border-top: 2px solid #000;
	z-index: 99;
}

.previous,
.next {
	width: 50%;
	padding: 1.5%;
	position: relative;
}

.previous a,
.next a {
	display: block;
	transition: margin 0.2s ease;
}

.previous a:hover,
.next a:hover {
	margin-left: 3%;
}


/*    MOBILE    */

@media only screen and (min-width : 1600px) {

	.hamburger .line{
		margin: 8px auto;
	 }

	.hamburger.is-active .line:nth-child(1){
		transform: translateY(10px);
	}

	.hamburger.is-active .line:nth-child(3){
		transform: translateY(-10px);
	}
}

@media only screen and (max-width : 1250px) {

	.zeta {
		font-size: 1.5vw;
	}
}

@media only screen and (max-width : 900px) {

	#project-title,
	#metadata {
		padding: 1.1% 1.6% 1.6% 1.6%;
	}

	#project-author {
		width: 70%;
	}
}

@media only screen and (max-width : 700px) {

	.alpha {
		font-size: 7vw;
	}

	.beta,
	.gamma {
		font-size: 6vw;
	}

	.delta,
	.zeta {
		font-size: 4.2vw;
	}

	nav:after {
		display: none;
	}

	.menu {
		width: 12%;
		max-width: 50px;
	}

	.global-info {
		width: 60%;
	}

	.global-info div {
		padding: 6.8%;
	}

	#nav-title {
		display: none;
	}

	#nav-author {
		display: none;
	}

	.logo {
		padding: 6.8% 8.5% 6.8% !important;
	}

	.listing,
	.main-text {
		padding-top: 15%;
	}

	.listing .project-image {
		display: none;
	}

	#project-title:hover ~ .project-image {
		display: none;
	}

	.project-block {
		flex-direction: column;
		padding: 3% 4% 4.5%;
	}

	#project-category {
		display: none;
	}

	#project-title {
		width: 100%;
		padding: 0;
	}

	#metadata {
		width: 100%;
		order: -1;
		padding: 0 0 1.5%;
	}

	#project-author {
		width: 100%;
	}

	.text {
		display: block;
		width: 100%;
		padding: 0 4%;
	}

	.image-1-up,
	.project-image,
	.image-full-width {
		display: inline-block;
		width: 100%;
		position: unset;
	}

	.colophon,
	.about,
	.previous,
	.next,
	.copyright {
		flex-direction: column;
		padding: 4%;
	}

	.colophon-item,
	.copyright .label,
	.mark,
	.copyright {
		width: 100%;
		padding: 4% 0;
	}

	#previous-next {
		margin-top: 8%;
		padding: 0;
		flex-direction: column;
	}

	.previous,
	.next {
		width: 100%;
	}

	.next {
		border-top: 2px solid #000;
	}
	
	.label {
		padding-bottom: 1.5%;
	}

	.copyright {
		margin: 0;
	}

	.mark img {
		width: 28%;
	}

}




